.assignments_page .assignments_container {
    padding: 10px;
    width: 100%;
}

.assignments_page .assignments_container .assignments_header .assignments_category {
    color: var(--secondary-text);
}

.assignments_page .assignments_container .divider_x {
    margin: 10px 0;
}

.assignment_container .assignment_question {
    margin-bottom: 10px;
}

.assignment_container .assignment_question .assignment_question_text {
    font-size: calc(18px + .5vw);
    color: var(--primary-text);
}

.assignment_code {
    margin-bottom: 10px;
    background: var(--comment-background);
    padding: 10px;
    border-radius: var(--radius-s);
    color: var(--secondary-text);
    font-size: 15px;
}

.assignments_page .assignments_container .assignment_answers {
    display: grid;
    grid-template-columns: repeat( 2, 1fr );
    gap: 10px;
}

.assignments_page .assignments_container .assignment_answers .assignment_answer > label {
    color: var(--secondary-text);
    width: 100%;
    height: 100%;
    cursor: pointer;
    padding: 10px;
    border: 2px solid var(--secondary-text);
    border-radius: var(--radius-s);
}

.assignments_page .assignments_container .assignment_answers .assignment_answer > label input[type="radio"] {
    display: none;
}

.assignments_page .assignments_container .assignment_answers .assignment_answer > label:has(input[type="radio"]:checked) {
    color: var(--button-background);
    border: 2px solid var(--button-background);
} 
.assignments_page .assignments_container .assignment_answers .assignment_answer > label:has(input[type="radio"]:disabled) {
    opacity: .3;
    cursor: default;
}

.assignments_page .assignments_container .assignments_progress_bar {
    background: var(--background-10);
    height: 10px;
    width: 100%;
    border-radius: 100px;
    margin: 10px 0;
    overflow: hidden;
}

.assignments_page .assignments_container .assignments_progress_bar_inner {
    border-radius: 100px;
    background: var(--background-40);
    height: 100%;
    width: var(--width);
}

.assignments_page .assignments_container .assignments_footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 15px;
}

.assignments_page .assignments_container .assignments_footer .assignments_footer_left_part {
    gap: 20px;
    color: var(--secondary-text);
}
.assignments_page .assignments_container .assignments_footer .assignments_footer_right_part .next_assignments .next_assignment_btn {
    all: unset;
    background: var(--button-background);
    color: var(--primary-button-text);
    padding: 5px 20px 7px 20px;
    font-size: 18px;
    border-radius: var(--radius-s);
    cursor: pointer;
}
.assignments_page .assignments_container .assignments_footer .assignments_footer_right_part .next_assignments .next_assignment_btn:disabled {
    opacity: .5;
    cursor: default;
}

/* Score results */

.score_results_container {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: var(--background);

    text-align: center;
}

.score_results .score_results_header .score_results_header_title {
    color: var(--primary-text);
    font-size: calc(20px + .5vw);
}

.score_results .score_results_content .score_results_content_passed .success {
    color: rgb(59, 185, 59);
    font-size: calc(15px + .5vw);
}
.score_results .score_results_content .score_results_content_passed .failed {
    color: rgb(185, 59, 59);
    font-size: calc(15px + .5vw);
}



.score_results_content_score h1 {
    color: var(--secondary-text);
    font-size: calc(20px + .5vw);
}

.score_results_content_score h1 span.score_points {
    display: inline-block;
    background: var(--background-20);
    height: 1.65em;
    padding: 0 15px;
    border-radius: var(--radius-s);
}

.score_results_content_badge .bagde_display {
    display: flex;
    align-items: center;
    justify-content: center;
}

.score_results_content_badge .bagde_display > img {
    height: 140px;
}

.bagde_title {
    color: var(--secondary-text);
}
.score_results_message p {
    color: var(--secondary-text);
}

.score_results_footer {
    margin-top: 10px;
}

.score_results_footer .back_link {
    background: var(--button-background);
    color: var(--primary-button-text);
    text-decoration: none;
    font-size: 15px;
    border-radius: var(--radius-s);
    padding: 5px 0;
}

@media (max-width: 650px) {
    .assignments_page .assignments_container .assignment_answers {
        display: grid;
        grid-template-columns: 1fr;
        gap: 10px;
    }
}