.authenticatedUser {
    position: sticky;
    top: 80px;
    width: calc(140px + 10vw);
    height: fit-content;
    padding: 15px;
    gap: 10px;
}

.authenticatedUser .edit_profile_link {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 10px;
    right: 10px;
    overflow: hidden;
    height: 35px;
    width: 35px;
    color: var(--secondary-text);
    border-radius: 50px;
    transition: .3s;
}

.authenticatedUser .edit_profile_link:hover {
    background: var(--background-20);
}

.authenticatedUser .image img {
    width: 70px;
    height: 70px;
    object-fit: cover;
    border-radius: 50px;
}

.authenticatedUser .user_link {
    font-size: 20px;
    color: var(--primary-text);
    text-decoration: none;
    font-weight: 600;
}

.authenticatedUser .user_link:hover {
    text-decoration: underline;
}
.authenticatedUser .bio {
    color: var(--secondary-text);
}

@media (max-width: 1000px) {
    .authenticatedUser {
        display: none !important;
    }
}
