.leaderboard_page {
    padding-bottom: 10px;
}

.leaderboard_header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    margin-bottom: 10px;
}

.leaderboard_header .leaderboard_header_left_part .leaderboard_title {
    color: var(--primary-text);
}

.leaderboard_header .leaderboard_header_right_part #score_category {
    cursor: pointer;
  width: calc(80px + 5vw);
  padding: 5px 10px;
  outline: none;
  border: none;
  font-size: 15px;
  color: var(--secondary-text);
}

.leaderboard_score_container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
  margin: 10px;
  overflow: hidden;
}

.leaderboard_score_container .rand_and_info {
  display: flex;
  align-items: center;
  gap: 20px;
}

.leaderboard_score_container::before {
    --border: 0px;
    --color: transparent;

    content: '';
    position: absolute;
    top: 0;
    left: 0;
    border-width: var(--border);
    border-color: var(--color);
    border-style: solid;
    border-right-color: transparent;
    border-bottom-color: transparent;
}

.leaderboard_score_container.rank_1::before {
    --border: 18px;
    --color: #ffd700;
}
.leaderboard_score_container.rank_2::before {
    --border: 12px;
    --color: #cd7f32;
}
.leaderboard_score_container.rank_3::before {
    --border: 8px;
    --color: #aaaaaa;
}

.leaderboard_score_container .rand_and_info .score_rank p {
    font-size: 20px;
    line-height: 1em;
    color: var(--secondary-text);
}

.leaderboard_score_container .rand_and_info .score_user_info {
    gap: 15px;
}

.leaderboard_score_container .rand_and_info .score_user_info .user_img_link {
    display: flex;
}

.leaderboard_score_container .rand_and_info .score_user_info img{
    width: 40px;
    height: 40px;
    object-fit: cover;
    border-radius: 50%;
}

.leaderboard_score_container .rand_and_info .score_user_info .user_name_link {
    color: var(--secondary-text);
    text-decoration: none;
    font-size: 18px;
    line-height: 1em;
}

.leaderboard_score_container .rand_and_info span.you {
    color: var(--secondary-text);
}

.leaderboard_score_container .score_pointes {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
}

.leaderboard_score_container .score_pointes p {
    font-size: 25px;
    color: var(--secondary-text);
}
.leaderboard_score_container .score_pointes img {
    height: 40px;
}

.leaderboard_score_container.user_score {
  background: var(--comment-background);
  position: sticky;
  bottom: 0;
}

.leaderboard_didnt_passtest {
    position: sticky;
    bottom: 10px;
    padding: 15px;
}

.didnt_passtest_message p {
    font-size: 20px;
    color: var(--secondary-text);
}

.didnt_passtest_message .passtest_link {
    font-size: 16px;
    text-decoration: none;
    color: var(--secondary-text);
    width: fit-content;
    background: var(--button-background);
    padding: 5px 15px;
    border-radius: var(--radius-s);
    color: var(--primary-button-text);
    margin-top: 5px;
}